<nav>
  <h1><%= link_to "CheckMark",appointments_path %></h1>
  <ul class="nav-items">
    <% if user_signed_in? %>
    <li><p class="welcome-user">Welcome <%= current_user.first_name %> <%= current_user.last_name %></p></li>
    <li><%=link_to "Create Appointment",new_appointment_path %></li>
    <li><%= link_to "Update Account",edit_user_registration_path %></li>
    <li><%= link_to "Sign out",destroy_user_session_path, :method => :delete %></li>
    <% else %>
    <li><%= link_to "Register Account",new_user_registration_path %> </li>
    <li><%= link_to "sign in", new_user_session_path %></li> 
    <% end %>
  </ul>
</nav>
