<%= simple_form_for @appointment do |f| %>
<%= f.input :title, placeholder: 'your title of appointment goes here' %>
<%= f.input :location, placeholder: 'your appointment location goes here' %>
<%= f.input :description, placeholder: 'optional description goes here' %>
<%= f.input :date, placeholder: 'date of appointment goes here' %>
<%= f.input :time, placeholder: 'time of appointment goes here' %>
<%= f.fields_for :invitations do |builder| %>
<div class="emailF">
<p class="fields first_field">
  <%= builder.label :invite_email, "Invite your local CheckMark friend" %>
  <%= builder.email_field :invite_email %>
  <%=builder.hidden_field :accept, :value => 'f' %>
<%= builder.hidden_field :_destroy %>
<a class="remove" href="javascript:void(0)">Remove Email</a>
</p>
</div>
  <% end %>
<a class="add" href="javascript:void(0)">Add Email field</a>
<%= f.button :submit %>
<% end %>
