<div class="error"><%= flash[:error] %><br/>
<%= flash[:emailerror] %></div>

<% if @edit_appointment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@edit_appointment.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
      <% @edit_appointment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h2>To remove an email from the list, replace the email with the word 'delete'</h2>
<%= simple_form_for @edit_appointment do |f| %>
<%= f.input :title, placeholder: 'your title of appointment goes here' %>
<%= f.input :location, placeholder: 'your appointment location goes here' %>
<%= f.input :description, placeholder: 'optional description goes here' %>
<%= f.input :date, placeholder: 'date of appointment goes here' %>
<%= f.input :time, placeholder: 'time of appointment goes here' %>
<div class="emailF">
<%= f.fields_for :invitations do |builder| %>

<p class="fields">
  <%= builder.label :invite_email, "Friend email" %>
  <%= builder.email_field :invite_email %>
   <%=builder.hidden_field :accept, :value => 'f' %>
<%= builder.hidden_field :_destroy %>
<a class="remove" href="javascript:void(0)">Remove Email</a>
</p>

  <% end %>
  </div>
<a class="add" href="javascript:void(0)">Add Email field</a>
<%= f.button :submit %>
<% end %>