<div class="container edit-current">
<div class="row">
<div class="error"><%= flash[:error] %><br/>
<%= flash[:emailerror] %></div>

<% if @edit_appointment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@edit_appointment.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
      <% @edit_appointment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <%= render partial: 'form_edit' %>
  </div>
</div>