<div class="flash-message-success"><p class="success"><%= flash[:success] %></p></div>
<div class="flash-message-error"><p class="error"><%= flash[:error] %></p></div>

<h2 class="title">Your Appointments List</h2>

<div class="container">
  <div class="row">
    <div class="invitations">
  <h3 class="CheckMark_lists">Your CheckMark friends' invitations </h3>
   <p> You have <%=Invitation.where(:invite_email => current_user.email).count %> total invitation(s):</p>
  <%if Invitation.where(:invite_email => current_user.email).count != 0 %> 
  <% @appointment.each do |appointment| %>
    <section class="box-invite">
    <p class="TitleOfAppointment"><span>Title of Appointment/Event:</span> <%= appointment.title %></p>
    <p><span>Location:</span> <%= appointment.location %> </p>
    <p><span>Description:</span> <%= appointment.description %></p>
    <p><span>Date:</span> <%= appointment.date %></p>
    <p><span>Time:</span> <%= appointment.time %> </p>
    <% appointment.invitations.where(:invite_email => current_user.email).each do |inviter| %>
      <p class="user_email">Invited by:<span> <%= User.find_by(:id => inviter.user_id).email %></span> </p>
  <% if inviter.accept == false %>
  <p>You have not accepted or have declined this invitation, To keep track of it, accept now!</p>
  
    <%= link_to "Accept", accept_invite_appointment_path(inviter),:method => :patch, class: "accept" %>
  
  <% else %>
       <%= form_tag reminder_update_appointment_path(inviter), method: "patch" %>
    <%= hidden_field_tag(:email_accept, 0) %>
    <%= label_tag(:email_accept, "Email") %>
    <%= check_box_tag(:email_accept) %>
    <%= hidden_field_tag(:phone_number_accept, 0) %>
    <%= label_tag(:phone_number_accept, "number") %>
    <%= check_box_tag(:phone_number_accept) %>
    <%= hidden_field_tag(:phone_sms_accept, 0) %>
    <%= label_tag(:phone_sms_accept, "sms") %>
    <%= check_box_tag(:phone_sms_accept) %>
    <%=submit_tag %>
  <p>Decline this appointment to not be notified of this appointment</p>
    <%= link_to "Decline", decline_invite_appointment_path(inviter),:method => :patch, class: "decline" %>
  <% end %>
</section>
  
  <% end %>
  <% end %>
    
  <% else %>
  <p>No friendly appointments at this time </p>
  
  <% end %>
    </div>
      
   
<div class="personal">
  <h3 >My Personal appointments </h3>
  <%if Appointment.where(:user_id => current_user.id).count != 0 %> 
<% @user_appointments.each do |appointment| %>
  <section class="box-personal">
   <p class="TitleOfAppointment"><span>Title of Appointment/Event:</span> <%= appointment.title %></p>
    <p><span>Location:</span> <%= appointment.location %> </p>
    <p><span>Description:</span> <%= appointment.description %></p>
    <p><span>Date:</span> <%= appointment.date %></p>
    <p><span>Time:</span> <%= appointment.time %> </p>

  <%= link_to "Edit", edit_appointment_path(appointment), class: "edit" %>
<%= link_to 'Destroy', appointment_path(appointment),
  method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy" %></div>

<% end %>
   <% else %>
  <p>You have not created any appointments yet </p>
  
  <% end %>
  </section>
    </div>
    </div>
    </div>
 