<% if flash[:success] %>
<div class="success"><%= flash[:success] %></div>
  <% end %>
<div class="Attendee">
  <h2>Your friends invited you </h2>
  <% if Invitation.count(:invite_email => current_user.email) != 0 %> 
  <% @appointment.each do |appointment| %>
        <h3><%= appointment.title %></h3>
  <% appointment.invitations.each do |inviter| %>
  <% if inviter.accept == false %>
  <p>You have not accepted or have declined this invitation, accept now</p>
  
  <h3><%= link_to "Accept", accept_invite_appointment_path(inviter),:method => :patch %></h3>
  
  <% else %>
  <p>Can't attend?, decline it</p>
  <h3><%= link_to "Decline", decline_invite_appointment_path(inviter),:method => :patch %></h3>
  <% end %>
  
   <%= User.find_by(:id => inviter.user_id).email %>
  <% end %>
  <% end %>
  <% else %>
  <p>No friendly appointments at this time </p>
  
  <% end %>
     
  
  
<br/>
<br/>
</div>
<div class="users">
  <h2>Your Appointments</h2>
<% @user_appointments.each do |appointment| %>
  <h3><%= link_to appointment.title, edit_appointment_path(appointment) %></h3>
<%= link_to 'Destroy', appointment_path(appointment),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
<p>Location:
<%= appointment.location %>
</p>
  <p> Description:
<%= appointment.description %>
</p>
  <p>Date of Appointment
<%= appointment.date %>
  </p>
  <p>Time of Appointment
<%= appointment.time %>
  </p>
</div>
<% end %>