<div class="container create-new">
<div class="row">
<% if flash[:error] %>
<div class="error"><%= flash[:error] %><br/>
<%= flash[:emailerror] %></div>
  <% end %>
<% if @appointment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <%= render partial: 'form_new' %>
  </div>
</div>